.applicant {
  --img-border-width: 10px;
  --diagonal-distance: 160px;
  --bg-color-1: hsl(200, 50%, 70%);
  --bg-color-2: hsl(200, 60%, 80%);
  grid-area: applicant;
  display: grid;
  grid-auto-columns: auto 1fr;
  grid-template-rows: 50px 30px 40px auto;
  grid-template-areas:
    "photo name"
    "photo profession"
    "photo skills"
    "photo skills-list";
  gap: 4px 8px;
  /* background-color: rgb(207, 231, 245); */
  background: linear-gradient(
    60deg,
    var(--bg-color-1) var(--diagonal-distance),
    #fff var(--diagonal-distance),
    #fff calc(var(--diagonal-distance) + var(--img-border-width)),
    var(--bg-color-2) calc(var(--diagonal-distance) + var(--img-border-width))
  );
  padding: 16px;
  align-items: center;
}

.applicant img {
  grid-area: photo;
  box-sizing: border-box;
  width: 200px;
  border-radius: 50%;
  align-self: center;
  margin-right: 20px;
  border: var(--img-border-width) solid white;
}

.applicant h1 {
  grid-area: name;
  margin: 0;
}

.applicant p {
  grid-area: profession;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, .5);
  color: #222;
  margin: 0;
}

.applicant h2 {
  grid-area: skills;
  margin: 0;
}

.applicant ul {
  grid-area: skills-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding-left: 16px;
}

@media screen and (max-width: 800px) {
  .applicant ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .applicant ul {
    grid-template-columns: 1fr;
  }
}
